<!--
  Generated template for the SchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
    <ion-menu [content]="menu">
        <ion-content>
            <ion-list>
                <ion-item >Groups</ion-item>
                <ion-item (click)="changeSemester('Spring')">Spring</ion-item>
                <ion-item (click)="changeSemester('Summer I')">Summer I</ion-item>
                <ion-item (click)="changeSemester('Summer II')">Summer II</ion-item>
                <ion-item (click)="changeSemester('Fall')">Fall</ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-nav #menu></ion-nav>
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
        <ion-title>Schedule</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <h2>{{currSemester}} {{currDate.getFullYear()}}</h2>
    <button ion-button (click)="newClass()">New Class</button>
    <ion-list>
        <ion-item>
            <ion-label>{{currentDay}}</ion-label>
            <ion-select [(ngModel)]="currentDay" (ionChange)="changeDays()" name="day">
                <ion-option *ngFor="let day of days" value="{{day}}">
                    {{day}}
                </ion-option>
            </ion-select>
        </ion-item>
        <br>
        <ion-row (swipe)="swipeDays($event)" id="time" *ngFor="let s of times; let i = index">
            <ion-col col-2>
                {{formatDate(s)}}
            </ion-col>
            <ion-col col-10 *ngIf="visual[i] && viewDate[i] == false" class={{visualClass[i]}} (click)="viewClass(visual[i])">
                <h2 id="timetext"></h2>
            </ion-col>
            <ion-col col-10 *ngIf="visual[i] && viewDate[i] == true" class={{visualClass[i]}} (click)="viewClass(visual[i])">
                <h2 id="timetext">{{formatDate(getDate(visual[i].start))+'-'+formatDate(getDate(visual[i].end))}}</h2>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>