page-schedule {
}
#time{
    padding: 0;
}
#timetext{
    text-align: center;
}
ion-title{
    text-align: center;
}
.class1{
    background-color: tomato
}
.class2{
    background-color: mediumseagreen;
}
.class3{
    background-color: dodgerblue;
}
.class4{
    background-color: violet;
}
.class5{
    background-color: lightgray;
}