$brown: #442416;
$gold: #FCC30F;

.toolbar-background {
    background-color: $brown;
}

.toolbar-title {
    color: white;
}

.background-gold {
    background-color: $gold;
}

.gold{
    color: $gold;
}