<ion-menu id="semester" [content]="menu" type="overlay">
    <ion-content>
        <div class="header">
        </div>
        <ion-list>
            <ion-item (click)="changeSemester('Spring')" id="{{semesterClass[0]}}">Spring</ion-item>
            <ion-item (click)="changeSemester('Summer I')" id="{{semesterClass[1]}}">Summer I</ion-item>
            <ion-item (click)="changeSemester('Summer II')" id="{{semesterClass[2]}}">Summer II</ion-item>
            <ion-item (click)="changeSemester('Fall')" id="{{semesterClass[3]}}">Fall</ion-item>
            <ion-item id="sign-out" (click)="signout()">
                <div class="inner-text">
                    <ion-icon name="log-out" class="gold"></ion-icon>
                    Sign Out
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav #menu></ion-nav>
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu" class="gold"></ion-icon>
        </button>
        <ion-title>Schedule</ion-title>
        <ion-buttons end>
            <button (click)="newClass()" icon-left id="brown">
                <ion-icon name="add" class="gold"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-segment [(ngModel)]="currentTab" (ionChange)="swapSchedule()">
        <ion-segment-button value="0">
            Regular
        </ion-segment-button>
        <ion-segment-button value = "1">
            Finals
        </ion-segment-button>
    </ion-segment>
    <h2>{{currSemester}} {{currDate.getFullYear()}}</h2>
    <ion-list>
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col class="center" col-2>Mon</ion-col>
            <ion-col class="center" col-2>Tue</ion-col>
            <ion-col class="center" col-2>Wed</ion-col>
            <ion-col class="center" col-2>Thur</ion-col>
            <ion-col class="center" col-2>Fri</ion-col>
        </ion-row>
        <ion-row id="time" *ngFor="let s of times; let i = index">
            <ion-col col-2>
                {{formatDate(s)}}
            </ion-col>
            <ion-col col-2 *ngFor="let day of schedule; let j = index" class="col {{colors[j][i]}} center">
                <span *ngIf="schedule[j] && schedule[j][i]">
                    <ion-icon name="help" (click)="viewClass(schedule[j][i])"></ion-icon>
                </span>
                <br>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>