page-schedule {
    #time{
        padding: 0;
    }
    .center{
        text-align: center;
    }
    ion-title{
        text-align: center;
    }
    .class1{
        background-color: tomato
    }
    .class2{
        background-color: mediumseagreen;
    }
    .class3{
        background-color: dodgerblue;
    }
    .class4{
        background-color: violet;
    }
    .class5{
        background-color: lightgray;
    }

    #sign-out{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid rgba(153,171,188,0.5);
        background-color: $brown;
        color: white;
    }

    .item-ios, .item-md{
        padding-left: 5px;
    }

    #currentSemester{
        border-left: solid $gold 16px;
        color: $gold;
    }
    #otherSemester{
        border-left: solid $brown 16px;
        color: gray;
    }
    #brown{
        background-color: $brown;
        color: white;
    }
}
